.home {

	&__sections {
		display: grid;
		gap: 6.25rem;
		@media(max-width:991.98px){
			gap:4.375rem;
		}
		@media(max-width:767.98px){
			gap:2.5rem;
		}
	}
}

/*===========================================================================================*/

.main-slider {
	min-width: 0;
	&__wrapper {
		display: flex;
	}

	&__slide {
		position: relative;
		flex-shrink: 0;
		overflow: hidden;
		background-color: $bg-footer;
	}

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		opacity: 0.8;
	}

	&__container {
		position: relative;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		gap:0.9375rem;
		padding-top: 6.25rem;
		padding-bottom: 8.75rem;
		z-index: 2;
	}

	&__category,
	&__body,
	&__title{
		transform: translate(0px,3.125rem);
		opacity: 0;
		transition: all 0.8s;
	}

	.loaded &__category,
	.loaded &__body,
	.loaded &__title{
		transform: translate(0, 0);
		opacity: 1;
	}

	.loaded &__category{
		transition-delay: 0.5s;
	}

	.loaded &__title{
		transition-delay: 0.7s;
	}

	.loaded &__body{
		transition-delay: 0.9s;
	}

	&__title {
		max-width: 33.125rem;
	}

	&__body {
		color: $text-clr;
		display: flex;
		align-items: flex-start;
		gap: 0.6875rem;
	}

	&__date {
		font-weight: 400;
		font-size: 0.75rem;
		line-height: 125%; /* 15px/12 */
		gap: 0.6875rem;
		display: flex;
		align-items: center;
		&::after{
			content: '';
			width: 1.875rem;
			height: 0.0625rem;
			background-color: $text-clr;
		}
	}

	&__text {
		max-width: 26.25rem;
	}
}

.bullets {
	position: relative;
	z-index: 2;
	margin-top: -8.75rem;

	&__items {
		display: flex;
		align-items: center;
		height: 8.75rem;
		gap:0.625rem;
		@media(max-width:479.98px){
			justify-content: center;
		}
		.swiper-pagination-bullet {
			flex: 0 0 0.5rem;
			height: 0.5rem;
			background-color: #fff;
			border-radius: 50%;
			opacity: 0.2;
			transition: opacity 0.3s;
			cursor: pointer;
		}
		.swiper-pagination-bullet-active {
			opacity: 1;
		}
	}
}

/*===========================================================================================*/

.popular {

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap:0.9375rem;
		margin-bottom: 2.8125rem;
		@media(max-width:767.98px){
			flex-direction: column;
			margin-bottom: 1.5625rem;
		}
	}

	&__content {
		margin-bottom: clamp(3.125rem, 1.339rem + 8.93vw, 9.375rem);
	}

	&__tab {
		display: none;
		&.active{
			display: block;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
		column-gap:1.25rem;
		row-gap: 3.125rem;
		@media(max-width:767.98px){
			row-gap: 1.875rem;
		}
	}
}


.nav-popular {
	display: flex;
	flex-wrap: wrap;
	row-gap: 0.3125rem;
	column-gap: 1.25rem;
	justify-content: center;
	align-items: center;
	&__item {
		position: relative;
		font-weight: 700;
		line-height: 1.5;
		&.active::after,
		&:hover::after{
			width: 100%;
			left: 0;
		}
		&::after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 0;
			height: 0.125rem;
			background-color: $underline-clr-menu;
			transition: all 0.3s;
		}
	}
}

.item-popular {
	position: relative;
	display: grid;
	align-content: start;
	gap:0.9375rem;
	&__category {
		position: absolute;
		z-index: 2;
		top: 1.25rem;
		right: 1.25rem;
	}

	&__image {
		position: relative;
		overflow: hidden;
		border-radius: 0.3125rem;
		padding-bottom: 90.322581%; /* 280/310 */
		&:hover{
			img{
				transform: scale(1.1);
			}
		}
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			transition: transform 0.8s;
		}
	}

	&__date {
		font-size: 0.75rem;
		color: #6C757D;
		line-height: 125%; /* 15/12 */
	}

	&__title {
		font-weight: 700;
		font-size: 1.125rem;
		line-height: 139%;
	}

	&__link-title {
		&:hover{
			text-decoration: underline;
		}
	}

	&__text {
		color: #6C757D;
	}
}
/*===========================================================================================*/

.big-post {
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	color: #fff;
	&__container {
		position: relative;
		display: grid;
		justify-items: center;
		z-index: 2;
		gap:0.8125rem;
	}

	&__title {
		max-width: 33.125rem;
	}

	&__text {
		color:$text-clr;
		max-width: 26.25rem;
	}

	&__author {
		gap:0.3125rem;
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $bg-footer;
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: 0.5;
		}
	}
}